.div_top{
    margin-top:4px;
    background-color:mediumslateblue;
    height:100px;
}
.div_content {
    background-color: lavender;
    height: 620px;
}
.a_Home {
    color: white;
    font-size: 30px;
    letter-spacing:18px;
    text-decoration:none;
}
.a_Home_One {
    color: white;
    font-size: 25px;
    text-decoration: none;
}
.btnSize_guahao {
    height: 200px;
    width: 200px;
    border-radius: 20px;
    background: url('../image/挂号-.png') no-repeat;
    font-size: 20px;
}
.btnSize_jiaofei {
    height: 200px;
    width: 200px;
    border-radius: 20px;
    background: url('../image/充值缴费.png') no-repeat;
    font-size: 20px;
}
.btnSize_quhao {
    height: 200px;
    width: 200px;
    border-radius: 20px;
    background: url('../image/排队取号.png') no-repeat;
    font-size: 20px;
}
.btnSize_jiandang {
    height: 200px;
    width: 200px;
    border-radius: 20px;
    background: url('../image/建档.png') no-repeat;
    font-size: 20px;
}
.btnSize_yuyueguahao {
    height: 200px;
    width: 200px;
    border-radius: 20px;
    background: url('../image/预约.png') no-repeat;
    font-size: 20px;
}
.btnSize_qita {
    height: 200px;
    width: 200px;
    border-radius: 20px;
    background: url('../image/其它.png') no-repeat;
    font-size: 20px;
}



