.div_top{
    margin-top:4px;
    background-color:mediumslateblue;
    height:100px;
}
.div_content{
    background-color:deepskyblue;
}
.div_bottom {
    background-color: white;
    height:50px;
}
.a_Home {
    color: white;
    font-size: 30px;
    letter-spacing:18px;
    text-decoration:none;
}
.a_Home_One {
    color: white;
    font-size: 25px;
    text-decoration: none;
}
