<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <connectionStrings>
    <add name="医院自助服务机" connectionString="Data Source=(Local);Initial Catalog=医院自助服务机;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="医院自助服务机ConnectionString" connectionString="Data Source=(Local);Initial Catalog=医院自助服务机;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="Hospital_Self_service_MachinesModel" connectionString="data source=(Local);initial catalog=医院自助服务机;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /><add name="HospitalSelfserviceMachinesModel" connectionString="data source=(Local);initial catalog=医院自助服务机;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" /><add name="DoctorNameFindModel" connectionString="data source=(Local);initial catalog=医院自助服务机;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
  <!--<connectionStrings>
    <add name="sql" connectionString="Server=(Local);DataBase=医院自助服务机;Integrated Security=sspi" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
</configuration>